# serverless.yml

service: aqts-capture-raw-load

provider:
  name: aws
  region: ${opt:region, 'us-west-2'}
  stage: ${opt:stage, 'TEST'}
  runtime: python3.8
  timeout: 70
  logRetentionInDays: 90
  role: arn:aws:iam::${self:custom.accountNumber}:role/csr-Lambda-Role
  vpc: ${self:custom.vpc}
  environment:
    DB_HOST: ${self:custom.db.connectInfo.DATABASE_ADDRESS}
    DB_USER: ${self:custom.db.connectInfo.SCHEMA_OWNER_USERNAME}
    DB_NAME: ${self:custom.db.connectInfo.DATABASE_NAME}
    DB_PASSWORD: ${self:custom.db.connectInfo.SCHEMA_OWNER_PASSWORD}
    AWS_DEPLOYMENT_REGION: ${self:provider.region}
  deploymentBucket:
    name: iow-cloud-applications
  stackTags:
    "wma:applicationId": "Aquarius TS Retriever Capture Raw Loader"
    "wma:contact": "Jim Kreft jkreft@usgs.gov"
    "wma:environment": ${self:provider.stage}
    "wma:taggingVersion": "0.0.1"
    commitIdentifier: ${git:sha1}

custom:
  exportGitVariables: false
  accountNumber : ${ssm:/iow/aws/accountNumber}
  environments:
    TEST: test
    QA: qa
    PROD-EXTERNAL: prod-external
  vpc:
    securityGroupIds: ${ssm:/iow/retriever-capture/${self:provider.stage}/securityGroupIds~split}
    subnetIds: ${ssm:/iow/aws/vpc/${self:provider.stage}/subnetIds~split}
  db:
    connectInfo: ${ssm:/aws/reference/secretsmanager/NWCAPTURE-DB-${self:provider.stage}~true}

functions:
  iowCapture:
    handler: src.load.lambda_handler
    memorySize: 512
    reservedConcurrency: 50
    environment:
      S3_OBJECT_SIZE_LIMIT: 50000

  iowCaptureMedium:
    handler: src.load.lambda_handler
    memorySize: 1536
    reservedConcurrency: 5
    environment:
      S3_OBJECT_SIZE_LIMIT: 150000000

resources:
  Resources:
    snsTopic:
      Type: AWS::SNS::Topic
      Properties:
        DisplayName: ${self:service}-${self:provider.stage}-topic
        TopicName: ${self:service}-${self:provider.stage}-topic
    concurrencyAlarm:
      Type: AWS::CloudWatch::Alarm
      Properties:
        AlarmName: ${self:service}-${self:provider.stage}-concurrency-alarm
        AlarmDescription: Notify when concurrency exceeds the specified threshold
        Namespace: 'AWS/Lambda'
        Dimensions:
          - Name: FunctionName
            Value:
              Ref: IowCaptureLambdaFunction
        MetricName: ConcurrentExecutions
        Statistic: Maximum
        ComparisonOperator: GreaterThanOrEqualToThreshold
        Threshold: 50
        Period: 60
        EvaluationPeriods: 1
        AlarmActions:
          - Ref: snsTopic
    errorAlarm:
      Type: AWS::CloudWatch::Alarm
      Properties:
        AlarmName: ${self:service}-${self:provider.stage}-error-alarm
        AlarmDescription: Notify when number of errors exceeds the specified threshold
        Namespace: 'AWS/Lambda'
        Dimensions:
          - Name: FunctionName
            Value:
              Ref: IowCaptureLambdaFunction
        MetricName: Errors
        Statistic: Sum
        ComparisonOperator: GreaterThanOrEqualToThreshold
        Threshold: 10
        Period: 60
        EvaluationPeriods: 1
        AlarmActions:
          - Ref: snsTopic

    snsTopicMedium:
      Type: AWS::SNS::Topic
      Properties:
        DisplayName: ${self:service}-medium-${self:provider.stage}-topic
        TopicName: ${self:service}-medium-${self:provider.stage}-topic
    concurrencyAlarmMedium:
      Type: AWS::CloudWatch::Alarm
      Properties:
        AlarmName: ${self:service}-medium-${self:provider.stage}-concurrency-alarm
        AlarmDescription: Notify when concurrency exceeds the specified threshold
        Namespace: 'AWS/Lambda'
        Dimensions:
          - Name: FunctionName
            Value:
              Ref: IowCaptureMediumLambdaFunction
        MetricName: ConcurrentExecutions
        Statistic: Maximum
        ComparisonOperator: GreaterThanOrEqualToThreshold
        Threshold: 5
        Period: 60
        EvaluationPeriods: 1
        AlarmActions:
          - Ref: snsTopicMedium
    errorAlarmMedium:
      Type: AWS::CloudWatch::Alarm
      Properties:
        AlarmName: ${self:service}-medium-${self:provider.stage}-error-alarm
        AlarmDescription: Notify when number of errors exceeds the specified threshold
        Namespace: 'AWS/Lambda'
        Dimensions:
          - Name: FunctionName
            Value:
              Ref: IowCaptureMediumLambdaFunction
        MetricName: Errors
        Statistic: Sum
        ComparisonOperator: GreaterThanOrEqualToThreshold
        Threshold: 10
        Period: 60
        EvaluationPeriods: 1
        AlarmActions:
          - Ref: snsTopicMedium

plugins:
  - serverless-plugin-git-variables
  - serverless-python-requirements

package:
  exclude:
    - node_modules/**
    - Dockerfile
    - .dockerignore
    - Jenkinsfile
    - package.json
    - package-lock.json
